.example-viewport {
  height: 100%;
  max-height:100%;
  position: relative;
}
::-webkit-scrollbar {
  width: 0px;
}
.fixed-row-bottom {
  position: fixed;
  bottom: 4px;
}
.fill {
  height: 100%;
  max-height:100%;
  overflow: hidden;
}
textarea {
 resize: none;
}

a:hover {
  background: rgba(255,255,255,0.9);
}
