<div class="row ">
  <div class="col-lg-6 col-md-8 col-xs-12 thumb">
    <a
      href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
      class="fancybox zoom
      "
      rel="ligthbox"
    >
      <img
      src="https://www.fivb.org/Vis2009/Images/GetImage.asmx?No=84263&type=Press&maxSize=920"
      class="zoom img-fluid zoom rounded
        "
        alt=""
      />
    </a>
  </div>
  <div class="col-lg-6 col-md-8 col-xs-12 thumb">
    <a
      href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
      class="fancybox zoom
      "
      rel="ligthbox"
    >
      <img
        src="http://challengercup.volleyball.world/2019/-/media/fivb2014/vcc/vcc2019/vcccompetitionasmx.jpg?bc=cccccc&h=507&la=en&mw=760&w=760&hash=6EB990BB450648EE3E9F1586B13EBAEA"
        class="zoom img-fluid rounded "
        alt=""
      />
    </a>
  </div>

  <div class="col-lg-6 col-md-8 col-xs-12 thumb">
    <a
      href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      class="fancybox zoom
      "
      rel="ligthbox"
    >
      <img
src="https://www.worldofvolley.com/upload/boxImageData/2016/01/21/71005/FIVB1.jpg"
      class="zoom img-fluid rounded "
        alt=""
      />
    </a>
  </div>
  <div class="col-lg-6 col-md-8 col-xs-12 thumb">
    <a
      href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      class="fancybox zoom
      "
      rel="ligthbox"
    >
      <img
src="https://www.worldofvolley.com/upload/boxImageData/2016/03/08/71028/FIVB7.jpg"
        class="zoom img-fluid zoom rounded
         "
        alt=""
      />
    </a>
  </div>
</div>
