<link
  href="http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext"
  rel="stylesheet"
  type="text/css"
/>

<div class="container">
  <div
    class="row py-2 justify-content-center"
    *ngFor="let item of achievements"
  >
    <div class="col-sm-10  border rounded shadow py-2">
      <div class="row">
        <div class="col-sm-7">
          <h1
            class="h1-responsive"
            class="text-center pb-1 mb-0"
            style="font-family: 'Audiowide', sans-serif;"
          >
            Osiągnięcie
          </h1>
          <hr
            class="pt-1 pb-1 my-0 pl-6 ml-6"
            style="border-top: dotted 1px;"
          />
          <hr
            class="pt-1 pb-1 my-0 pl-6 ml-6"
            style="border-top: dotted 1px;"
          />
          <hr
            class="pt-0 pb-3 my-0 pl-6 ml-6"
            style="border-top: dotted 1px;"
          />

          <h4 class="text-center ">{{ item.title }}</h4>

          <div class="row justify-content-center my-auto mx-auto">
            <div class="col-sm-6 text-right  pr-0  mr-0 my-auto">
              Zdobyte {{ item.ranking }} miejsce
            </div>
            <div class="col-sm pl-0">
              <i
                *ngIf="item.ranking === 1"
                class="fas fa-medal fa-6x amber-text my-3 "
              ></i>
              <i
                *ngIf="item.ranking === 2"
                class="fas fa-medal fa-6x grey-text my-3"
              ></i>
              <i
                *ngIf="item.ranking === 3"
                class="fas fa-medal fa-6x brown-text my-3"
              ></i>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-light-blue" (click)="basicModal.show()">
              Więcej
            </button>
          </div>
        </div>
        <div class="col-sm  pl-2 ml-2 my-auto thumb">
          <img
            src="assets/cup_icon.png"
            class="py-auto d-block w-75 img-fluid"
          />
        </div>
      </div>
      <span class="info">
        <div class="bottom-right " *ngIf="!onClickViewer">
          <i
            class="far fa-edit fa-2x px-1 orange-text clickable "

            (click)="basicModal2.show()"
            (click)="updateAchievement(item)"
          ></i>
          <i
            (click)="deleteAchievement(item.id)"
            class="far fa-trash-alt fa-2x px-1 red-text clickable"
          ></i>
        </div>
      </span>
    </div>

    <div
      mdbModal
      #basicModal="mdbModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myBasicModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="basicModal.hide()"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">
              Dodatkowe informację
            </h4>
          </div>
          <div class="modal-body">
            {{ item.extraInformation }}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              mdbBtn
              color="secondary"
              class="waves-light"
              aria-label="Close"
              (click)="basicModal.hide()"
              mdbWavesEffect
            >
              Zamknij
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button
      type="button"
      *ngIf="!onClickViewer"
      (click)="clearAchievement()"
      class="btn yellow-gradient btn-outline-warning ml-auto"
      (click)="basicModal2.show()"
    >
      Dodaj osiągnięcie
    </button>
  </div>
</div>

<div
  mdbModal
  #basicModal2="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-bottom-right modal-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="basicModal.hide()"
        ></button>
        <h4 class="modal-title w-100" id="myModalLabel">
          Dodaj swoje osiągnięcie
        </h4>
      </div>
      <div class="modal-body">
        <!-- Material input -->
        <form *ngIf="achievement">
          <div class="row">
            <div class="col-10 mx-auto">
              <input
                class="form-control my-2"
                type="text"
                placeholder="Tytuł Twojego osiągnięcia"
                name="title"
                [(ngModel)]="achievement.title"
              />
            </div>
            <div class="col-10 mx-auto">
              <input
                class="form-control my-2"
                type="number"
                min="1"
                max="3"
                placeholder="Zdobyte miejsce"
                name="ranking"
                [(ngModel)]="achievement.ranking"
              />
            </div>
            <div class="col-10 mx-auto">
              <input
                class="form-control my-2"
                type="text"
                placeholder="Dodatkowe informację"
                name="extraInformation"
                [(ngModel)]="achievement.extraInformation"
              />
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            mdbBtn
            color="secondary"
            class="waves-light"
            aria-label="Close"
            (click)="update = false"
            (click)="basicModal2.hide()"
            mdbWavesEffect
          >
            Zamknij
          </button>
          <button
            type="button"
            mdbBtn
            color="primary"
            class="relative waves-light"
            mdbWavesEffect
            *ngIf="!update"
            (click)="addAchievement()"
          >
            Zapisz
          </button>
          <button
            type="button"
            mdbBtn
            color="primary"
            class="relative waves-light"
            mdbWavesEffect
            *ngIf="update"
            (click)="saveAchievement()"
          >
            Zaktualizuj
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
