<div class="container  ">
  <h3 [hidden]="otherUser" class="text-center">
    Ogłoszenia dodane przez Ciebie
  </h3>
  <div class="row py-2 mx-auto justify-content-center">
    <div
      class="col-sm-3 border shadow py-2 pb-2 mr-2 mb-2 "
      *ngFor="let advertisement of advertisements; index as i"
    >
      <app-advertisement
        [advertisement]="advertisement"
        [ownAdvertisement]="true"
        [showForum]="true"
      ></app-advertisement>
    </div>
  </div>
  <div class="row">
    <button
      [hidden]="otherUser"
      type="button py-2"
      class="btn btn-secondary ml-auto"
      (click)="addAdvertisement()"
    >
      Dodaj swoje ogłoszenie
    </button>
  </div>
</div>
