<div id="wrapper" class="fill">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a>
          Amateur Sport Event
        </a>
      </li>
      <li>
        <a routerLink="profile">Użytkownik</a>
      </li>
      <li>
        <a routerLink="ownAchievement">Osiągnięcia</a>
      </li>
      <li>
        <a routerLink="allAdvertisement">Przeglądaj ogłoszenia</a>
      </li>
      <li>
        <a routerLink="acceptedAdvertisement">Zaakceptowane ogłoszenia</a>
      </li>
      <li>
        <a routerLink="ownAdvertisement">Twoje ogłoszenia</a>
      </li>

      <li>
        <a routerLink="events">Wydarzenia</a>
      </li>
      <li>
        <a routerLink="message">
          <span matBadge="2" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false"
            >Wiadomości</span
          ></a
        >
      </li>
      <li>
        <a routerLink="setting">Ustawienia</a>
      </li>
      <li>
        <a (click)="Logout()">Wyloguj</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="fill">
    <div class="container-fluid fill">
      <div class="row fill">
        <div class="col-lg-12 fill">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
