<div *ngIf="forum">
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport px-0 mx-0 ">
    <div *ngFor="let item of forum.posts" #posts class="row border-bottom py-2">
      <div class="col-sm-3 px-0 text-center">
        <p>{{item.owner.firstName}} {{item.owner.lastName}}</p>
        <img
        [src]="createImgPath(item.owner.imageURL)"
          class="mx-auto w-75 img-fluid z-depth-1 rounded-circle clickable"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-9 px-1">
        <i>Wysłano: {{ item.dateSendMessage | date: "short" }} </i>
        <div class="pt-4">
          {{ item.postText }}
        </div>
        <div class="row py-1 px-2">
          <a class="px-2" (click)="onNavigateToUserProfile(item.owner.userName)" >
            <i class="fas fa-users "></i>
            <span>Profil</span>
          </a>
          <a class="px-2" (click)="sendMessage(item.ownerId)" >
            <i class="far fa-envelope "></i>
            <span>
              Prywatna wiadomość
            </span>
          </a>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
  <div class="row py-1">
    <div class="col-sm-10 px-1">
      <input
        type="text"
        id="meessage"
        class="form-control"
        placeholder="Napisz post"
        [(ngModel)]="PostText"
        #sendInput
        (keyup.enter)="sendInput.value = ''"
        (keyup.enter)="addPost()"
      />
    </div>
    <div class="col-sm-2 text-center my-auto">
      <a
        (click)="sendInput.value = ''"
        (click)="addPost()"
        class="fas fa-2x fa-angle-double-right"
      ></a>
    </div>
  </div>
</div>
